{:duct.profile/base
 {:duct.core/project-ns route-guide

  :duct.server/pedestal
  {:base-service #ig/ref :route-guide.grpc/service
   :service #:io.pedestal.http{:routes #ig/ref :route-guide.grpc/routes
                               :join? true
                               :host #duct/env "SERVER_HOST"
                               :port #duct/env ["SERVER_PORT" Int :or 8080]}}

  :route-guide.grpc/routes
  {:db #ig/ref :route-guide.boundary.db.core/db}

  :route-guide.grpc/service
  {:options {:env :prod}}

  :route-guide.boundary.db.core/db
  {:path "route_guide/route_guide_db.json"}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/test  #duct/include "test"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/cambium {}

 :duct.module/pedestal {}}
